*.o
Makefile
.qmake.stash
HomeAutomation
*.pro.user
qrc_HA-resources.cpp
qrc_HVACResources.cpp
qrc_cameraResources.cpp
qrc_homeScreen.cpp
qrc_keyboard.cpp
qrc_lightingcontrol.cpp
qrc_mediaSelection.cpp
qrc_overlayResources.cpp
qrc_playerResources.cpp
qrc_resources.cpp
qrc_tempresources.cpp
qrc_weatherIcons.cpp
qrc_weatherXmlFeed.cpp
.stamp_*
.applied_patches_list
.br_filelist_after
.br_filelist_before
build